@model IEnumerable<Proiect_MPA.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezervari</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nume Client
            </th>
            <th>
                Telefon Client
            </th>
            <th>
                Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                  @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Client.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
